//SCSS 全局变量, PC行情

$fontSize: 15px;

$fontSize15: 15px;
$fontSize16: 16px;
$fontSize14: 14px;
$fontSize13: 13px;
$fontSize12: 12px;


$buttonWidth: 120px;
$buttonHeight: 40px;
$buttonWidthSmall: 60px;

$dialogHeadHigh: 40px;
