@font-face {
  font-family: "js-iconfont";  /* project id 1946241 */
  src: url('//at.alicdn.com/t/font_1946241_yrkc2c056db.eot');
  src: url('//at.alicdn.com/t/font_1946241_yrkc2c056db.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1946241_yrkc2c056db.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1946241_yrkc2c056db.woff') format('woff'),
  url('//at.alicdn.com/t/font_1946241_yrkc2c056db.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1946241_yrkc2c056db.svg#iconfont') format('svg');
}

.js-iconfont {
  font-family: "js-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconsuo:before {
  content: "\e611";
}

.icongou:before {
  content: "\e610";
}

.iconyikexing:before {
  content: "\e615";
}


.icon-drawicon_s:before {
  content: "\e6ae";
}

.icon-drawicon_b:before {
  content: "\e649";
}
